# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# Virtual environment
.venv/
venv/
env/

# Build output
build/
release/

# PyInstaller
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Secrets
conn_profile.json
